span span svg use {
  display: none;
}


span.anypoint-icon.NavBar--page-logo-icon__2V91-6 {
  background:url('https://www.pngkey.com/png/full/118-1180439_desktop-icon-free-download-png-and-vector-the.png') no-repeat center;
    width: 100%;
    height: 100%;
  background-size: 30px 30px;
}

nav.Bar--nav__3lhQmH {
  background-color: green;
  
}

span.anypoint-icon.Sidebar--icon__UmxaSu {
   background:url('https://www.pngkey.com/png/full/118-1180439_desktop-icon-free-download-png-and-vector-the.png') no-repeat left;
    width: 100%;
    height: 100%;
  background-size: 30px 30px;
}

span svg use {
  display: none;
}

span.anypoint-icon.Support--icon__3Njclb svg{
     background:url('https://cdn1.iconfinder.com/data/icons/diversity-avatars-volume-01-circles/64/matrix-morpheus-512.png') no-repeat center ;
    width: 100%;
    height: 100%;
  background-size: 30px 30px;
  max-height: 30px; 
  max-width: 30px;
}

img.components--logo-img__3108zO {
  display: none;
}



a.components--logo-link__1ZdlpD {

 background:url('https://icon-library.com/images/the-matrix-icon/the-matrix-icon-1.jpg') no-repeat center ;
    width: 100%;
    height: 100%;
  background-size: 100px 100px;
  max-height: 100px; 
  max-width: 100px;
}
